.kota-irab-wrap{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:#181717;
}

.map-frame{
    position:relative;
    width:min(100vw,150vh);
    aspect-ratio:6/4;
}

.irab-map{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
    pointer-events:none;
}

/* ========================= */

.irab-hotspot{
    position:absolute;
    border:none;
    background:transparent;
    cursor:pointer;
    z-index:20;
}
.irab-hotspot.unlocked {
  cursor: pointer;
}

.irab-hotspot.disabled {
  cursor: not-allowed;
  filter: brightness(0.55) grayscale(0.35);
}

/* ========================= */
/* HOTSPOT */
/* ========================= */

.madrasah{
    left:7%;
    top:28%;
    width:18%;
    height:18%;
}

.perpustakaan{
    left:27%;
    top:23%;
    width:18%;
    height:18%;
}

.lorong{
    left:46%;
    top:36%;
    width:18%;
    height:18%;
}

.dataran{
    left:58%;
    top:58%;
    width:18%;
    height:18%;
}

.dewan{
    left:34%;
    top:66%;
    width:18%;
    height:18%;
}

.istana-qadi{
    left:73%;
    top:18%;
    width:18%;
    height:22%;
}

.kembali{
    left:1%;
    top:84%;
    width:14%;
    height:10%;
}

/* ========================= */

.irab-hotspot.unlocked:hover {
  filter:
    brightness(1.15)
    drop-shadow(
      0 0 12px rgba(255, 215, 90, 0.8)
    );
}